# Sales Data Analysis

In [1]:
# Import the required libraries
import pandas as pd, numpy as np

### Merge multiple dataset into one single dataset

<br/>

**Process**
+ Enlist all the file-directories into a list using list-comprehension.
+ Create an empty dataframe.
+ Iterate through the file-list to read each dataset & store that into a variable.
+ Concatenate each dataframe with the newly created empty dataframe.

In [16]:
# list out the file directories using the "os.listdir(directoryName)"
import os
files = [file for file in os.listdir("Sales_Data")]

# Create an empty dataframe
all_months_data = pd.DataFrame()

# Reading all the datasets through the for-loop; 
# then concatenate each dataset into the new dataframe
for file in files:
    df = pd.read_csv("./Sales_Data/"+file)
    ##### Which dataframe will concat with which dataframe #####
    all_months_data = pd.concat([all_months_data, df])

In [17]:
all_months_data.shape

(186850, 6)

In [18]:
# export the the large CSV into the physical storage
# store that without the index-column
all_months_data.to_csv("Sales_Data_all.csv", index=False)

In [19]:
# Read the newly exported dataframe
df = pd.read_csv("Sales_Data_all.csv")
df.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
1,NaN,NaN,NaN,NaN,NaN,NaN
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"

In [20]:
df.columns

Index(['Order ID', 'Product', 'Quantity Ordered', 'Price Each', 'Order Date',
       'Purchase Address'],
      dtype='object')

In [21]:
df.shape

(186850, 6)

> **Ques-1**: What was the best month for sales of the year? 
How much money was earned in that month?

In [24]:
df["Order Date"].isna().sum()

-546

In [31]:
len(df)

186850

In [32]:
len(df) - df["Order Date"].isna().sum()

186305

> **Question**: How to view all the rows where the "**Order Date**" is "**NaN**"?

In [77]:
df[df["Order Date"].isna()]

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
1,NaN,NaN,NaN,NaN,NaN,NaN
356,NaN,NaN,NaN,NaN,NaN,NaN
735,NaN,NaN,NaN,NaN,NaN,NaN
1433,NaN,NaN,NaN,NaN,NaN,NaN
1553,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...
185176,NaN,NaN,NaN,NaN,NaN,NaN
185438,NaN,NaN,NaN,NaN,NaN,NaN
186042,NaN,NaN,NaN,NaN,NaN,NaN
186548,NaN,NaN,NaN,NaN,NaN,NaN
186826,NaN,NaN,NaN,NaN,NaN,NaN

In [78]:
# Drop the rows containing "NaN" values
df_dropna = df.dropna()

In [79]:
len(df) - len(df_dropna)

545

In [82]:
df_dropna.isna().sum()

Order ID            0
Product             0
Quantity Ordered    0
Price Each          0
Order Date          0
Purchase Address    0
dtype: int64

In [86]:
df_dropna.head(40)

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
5,176561,Wired Headphones,1,11.99,04/30/19 09:27,"333 8th St, Los Angeles, CA 90001"
6,176562,USB-C Charging Cable,1,11.95,04/29/19 13:03,"381 Wilson St, San Francisco, CA 94016"
7,176563,Bose SoundSport Headphones,1,99.99,04/02/19 07:46,"668 Center St, Seattle, WA 98101"
8,176564,USB-C Charging Cable,1,11.95,04/12/19 10:58,"790 Ridge St, Atlanta, GA 30301"
9,176565,Macbook Pro Laptop,1,1700,04/24/19 10:38,"915 Willow St, San Francisco, CA 94016"
10,176566,Wired Headphones,1,11.99,04/08/19 14:05,"83 7th St, Boston, MA 02215"
11,176567,Google Phone,1,600,04/18/19 17:18,"444 7th St, Los Angeles, CA 90001"
12,176568,Lightning Charging Cable,1,14.95,04/15/19 12:18,"438 Elm St, Seattle, WA 98101"
13,176569,27in 4K Gaming Monitor,1,389.99,04/16/19 19:23,"657 Hill St, Dallas, TX 75001"
14,176570,AA Batteries (4-pack),1,3.84,04/22/19 15:09,"186 12th St, Dallas, TX 75001"
15,176571,Lightning Charging Cable,1,14.95,04/19/19 14:29,"253 Johnson St, Atlanta, GA 30301"
16,176572,Apple Airpods Headphones,1,150,04/04/19 20:30,"149 Dogwood St, New York City, NY 10001"
17,176573,USB-C Charging Cable,1,11.95,04/27/19 18:41,"214 Chestnut St, San Francisco, CA 94016"
18,176574,Google Phone,1,600,04/03/19 19:42,"20 Hill St, Los Angeles, CA 90001"
19,176574,USB-C Charging Cable,1,11.95,04/03/19 19:42,"20 Hill St, Los Angeles, CA 90001"
20,176575,AAA Batteries (4-pack),1,2.99,04/27/19 00:30,"433 Hill St, New York City, NY 10001"
21,176576,Apple Airpods Headphones,1,150,04/28/19 11:42,"771 Ridge St, Los Angeles, CA 90001"
22,176577,Apple Airpods Headphones,1,150,04/04/19 19:25,"260 Spruce St, Dallas, TX 75001"
23,176578,Apple Airpods Headphones,1,150,04/09/19 23:35,"513 Church St, Boston, MA 02215"
24,176579,AA Batteries (4-pack),1,3.84,04/11/19 10:23,"886 Jefferson St, New York City, NY 10001"
25,176580,USB-C Charging Cable,1,11.95,04/05/19 00:35,"886 Willow St, Los Angeles, CA 90001"
26,176581,iPhone,1,700,04/09/19 21:38,"84 Jackson St, Boston, MA 02215"
27,176582,Bose SoundSport Headphones,1,99.99,04/27/19 12:20,"178 Lincoln St, Atlanta, GA 30301"
28,176583,AAA Batteries (4-pack),2,2.99,04/20/19 12:00,"146 Jackson St, Portland, OR 97035"
29,176584,Flatscreen TV,1,300,04/24/19 20:39,"936 Church St, San Francisco, CA 94016"
30,176585,Bose SoundSport Headphones,1,99.99,04/07/19 11:31,"823 Highland St, Boston, MA 02215"
31,176585,Bose SoundSport Headphones,1,99.99,04/07/19 11:31,"823 Highland St, Boston, MA 02215"
32,176586,AAA Batteries (4-pack),2,2.99,04/10/19 17:00,"365 Center St, San Francisco, CA 94016"
33,176586,Google Phone,1,600,04/10/19 17:00,"365 Center St, San Francisco, CA 94016"
34,176587,27in FHD Monitor,1,149.99,04/29/19 19:38,"557 5th St, Los Angeles, CA 90001"
35,176588,20in Monitor,1,109.99,04/02/19 04:00,"765 Cherry St, Seattle, WA 98101"
36,176589,Lightning Charging Cable,1,14.95,04/04/19 12:23,"846 Highland St, Atlanta, GA 30301"
37,176590,Google Phone,1,600,04/11/19 11:46,"873 6th St, New York City, NY 10001"
38,176591,Apple Airpods Headphones,1,150,04/21/19 07:21,"600 Maple St, Austin, TX 73301"
39,176592,USB-C Charging Cable,1,11.95,04/27/19 13:04,"352 4th St, Los Angeles, CA 90001"
40,176593,Lightning Charging Cable,2,14.95,04/15/19 13:45,"906 7th St, Portland, OR 97035"

In [88]:
# Create a new column named "Month" to extract the month from the "Order Date"
# Simultaneously assign the month from each "Order Date"
df_dropna["Month"] = df_dropna["Order Date"].str[:2]

C:\Users\CREATI~1\AppData\Local\Temp/ipykernel_17096/4019459611.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dropna["Month"] = df_dropna["Order Date"].str[:2]

In [89]:
df_dropna.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Month
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001",04
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215",04
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001",04
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001",04
5,176561,Wired Headphones,1,11.99,04/30/19 09:27,"333 8th St, Los Angeles, CA 90001",04

In [105]:
df_dropna["Month"] == df_dropna["Month"].astype("int32")

ValueError: invalid literal for int() with base 10: 'Or'

In [106]:
# Find out the rows containing 'Or' inside the "Month" column
df_dropna[df_dropna["Month"] == "Or"]

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Month
519,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Or
1149,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Or
1155,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Or
2878,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Or
2893,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Or
...,...,...,...,...,...,...,...
185164,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Or
185551,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Or
186563,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Or
186632,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Or
186738,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Or

In [115]:
# Get the indexes of rows where the "Month" column contain "Or"
df_month_or_index = df_dropna[df_dropna["Month"] == "Or"].index
# df_month_or
# Drop the rows by passing the index as a list inside the "df.drop()" func
df_drop_or = df_dropna.drop(df_month_or_index, axis="index")
df_drop_or

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Month
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001",04
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215",04
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001",04
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001",04
5,176561,Wired Headphones,1,11.99,04/30/19 09:27,"333 8th St, Los Angeles, CA 90001",04
...,...,...,...,...,...,...,...
186845,259353,AAA Batteries (4-pack),3,2.99,09/17/19 20:56,"840 Highland St, Los Angeles, CA 90001",09
186846,259354,iPhone,1,700,09/01/19 16:00,"216 Dogwood St, San Francisco, CA 94016",09
186847,259355,iPhone,1,700,09/23/19 07:39,"220 12th St, San Francisco, CA 94016",09
186848,259356,34in Ultrawide Monitor,1,379.99,09/19/19 17:30,"511 Forest St, San Francisco, CA 94016",09
186849,259357,USB-C Charging Cable,1,11.95,09/30/19 00:18,"250 Meadow St, San Francisco, CA 94016",09

In [116]:
# Convert each value from the "Month" series as Integer.
df_drop_or["Month"] = df_drop_or["Month"].astype("int32")

0         4
2         4
3         4
4         4
5         4
         ..
186845    9
186846    9
186847    9
186848    9
186849    9
Name: Month, Length: 185950, dtype: int32

### Timestamp ----> 24:24